@charset "ISO-8859-1";
#book{height:610px;width: 1330px;border:2px solid black}
body{background-image: url("greenlinetravels.jpg");background-size: cover;color:red}
h1{text-align: center;color:red}
.form{padding-bottom: 200px;padding-left: 500px}
.as{position:relative;left:1250px;margin-top:0px}
a:hover{color:red;background-color:transparent;text-decoration:underline;}
a:active{color:yellow;background-color:transparent;text-decoration:underline;}